In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# Any results you write to the current directory are saved as output.

/kaggle/input/GiveMeSomeCredit/cs-training.csv
/kaggle/input/GiveMeSomeCredit/Data Dictionary.xls
/kaggle/input/GiveMeSomeCredit/sampleEntry.csv
/kaggle/input/GiveMeSomeCredit/cs-test.csv

In [2]:
train = pd.read_csv("/kaggle/input/GiveMeSomeCredit/cs-training.csv")
train.head()

,Unnamed: 0,SeriousDlqin2yrs,RevolvingUtilizationOfUnsecuredLines,age,NumberOfTime30-59DaysPastDueNotWorse,DebtRatio,MonthlyIncome,NumberOfOpenCreditLinesAndLoans,NumberOfTimes90DaysLate,NumberRealEstateLoansOrLines,NumberOfTime60-89DaysPastDueNotWorse,NumberOfDependents
0,1,1,0.766127,45,2,0.802982,9120.0,13,0,6,0,2.0
1,2,0,0.957151,40,0,0.121876,2600.0,4,0,0,0,1.0
2,3,0,0.658180,38,1,0.085113,3042.0,2,1,0,0,0.0
3,4,0,0.233810,30,0,0.036050,3300.0,5,0,0,0,0.0
4,5,0,0.907239,49,1,0.024926,63588.0,7,0,1,0,0.0

In [3]:
test= pd.read_csv("/kaggle/input/GiveMeSomeCredit/cs-test.csv")
test.head()

,Unnamed: 0,SeriousDlqin2yrs,RevolvingUtilizationOfUnsecuredLines,age,NumberOfTime30-59DaysPastDueNotWorse,DebtRatio,MonthlyIncome,NumberOfOpenCreditLinesAndLoans,NumberOfTimes90DaysLate,NumberRealEstateLoansOrLines,NumberOfTime60-89DaysPastDueNotWorse,NumberOfDependents
0,1,NaN,0.885519,43,0,0.177513,5700.0,4,0,0,0,0.0
1,2,NaN,0.463295,57,0,0.527237,9141.0,15,0,4,0,2.0
2,3,NaN,0.043275,59,0,0.687648,5083.0,12,0,1,0,2.0
3,4,NaN,0.280308,38,1,0.925961,3200.0,7,0,2,0,0.0
4,5,NaN,1.000000,27,0,0.019917,3865.0,4,0,0,0,1.0

In [4]:
entry = pd.read_csv("/kaggle/input/GiveMeSomeCredit/sampleEntry.csv")

In [5]:
entry.head()

   Id  Probability
0   1     0.080807
1   2     0.040719
2   3     0.011968
3   4     0.067640
4   5     0.108264

In [6]:
x_train = train.drop(["SeriousDlqin2yrs","Unnamed: 0"],1)
x_train.head()

,RevolvingUtilizationOfUnsecuredLines,age,NumberOfTime30-59DaysPastDueNotWorse,DebtRatio,MonthlyIncome,NumberOfOpenCreditLinesAndLoans,NumberOfTimes90DaysLate,NumberRealEstateLoansOrLines,NumberOfTime60-89DaysPastDueNotWorse,NumberOfDependents
0,0.766127,45,2,0.802982,9120.0,13,0,6,0,2.0
1,0.957151,40,0,0.121876,2600.0,4,0,0,0,1.0
2,0.658180,38,1,0.085113,3042.0,2,1,0,0,0.0
3,0.233810,30,0,0.036050,3300.0,5,0,0,0,0.0
4,0.907239,49,1,0.024926,63588.0,7,0,1,0,0.0

In [7]:
y_train = train["SeriousDlqin2yrs"]
y_train.head()

0    1
1    0
2    0
3    0
4    0
Name: SeriousDlqin2yrs, dtype: int64

In [8]:
x_test =  test.drop(["SeriousDlqin2yrs","Unnamed: 0"],1)

In [9]:
x_test.head()

,RevolvingUtilizationOfUnsecuredLines,age,NumberOfTime30-59DaysPastDueNotWorse,DebtRatio,MonthlyIncome,NumberOfOpenCreditLinesAndLoans,NumberOfTimes90DaysLate,NumberRealEstateLoansOrLines,NumberOfTime60-89DaysPastDueNotWorse,NumberOfDependents
0,0.885519,43,0,0.177513,5700.0,4,0,0,0,0.0
1,0.463295,57,0,0.527237,9141.0,15,0,4,0,2.0
2,0.043275,59,0,0.687648,5083.0,12,0,1,0,2.0
3,0.280308,38,1,0.925961,3200.0,7,0,2,0,0.0
4,1.000000,27,0,0.019917,3865.0,4,0,0,0,1.0

In [10]:
from xgboost import XGBClassifier 
xgb = XGBClassifier(nthread = 4,colsample_bytree=0.8,subsample=0.7, max_depth=4,n_estimators=440,learning_rate=0.025)

In [11]:
xgb.fit(x_train,y_train)
result1 = xgb.predict_proba(x_test)
result1

array([[0.9264914 , 0.07350861],
       [0.95131123, 0.04868875],
       [0.98715526, 0.01284471],
       ...,
       [0.9942131 , 0.00578693],
       [0.9326538 , 0.06734619],
       [0.95449775, 0.04550223]], dtype=float32)

#### 0일 확률과 1일 확률
#### 정답 클래스가 1일 확률로 제출(파산을 할 사람들의 확률)
#### 0,1로 예측하는 것 x , 확률값으로 예측해야됨 
#### 분류문제는 predict -> predict_proba

In [12]:
result1 = result1[:,1]

1. 하이퍼파라미터 설정 중요 nthread ; n_jobs와 동일,lgbm은 필요없음
2. lgbm,xgboost : 나무 기본값 100개
3. max_depth : tree가 학습할 수 있는 양 / max_depth가 커지면 데이터셋에 대해 가지치기를 더많이 해서 세분화하여 많은 학습/ 복잡하게 학습; 데이터가 복잡하면 max_depth 올리기/기본값 3 -하나씩 올리면서(내리면서) 성능 비교 ;  
4. n_estimators도 중요; 100이 기본값/ 올렸을때 좋은지 낮췄을 때 좋은지 실험해보기 이 대회의 경우 max_depth크게, n_estimators 크게...
5. 최적값을 찾을 때 속도 - 1. 주변을 둘러보면서 계속 확인; 속도 느림(learning_rate가 낮음) -기본적으로 learning_rate가 낮은것이 더 좋음;최적점에 훨씬 가까이 잘 다가갈 수 있음/ but 시간이 오래걸림;학습하다가 멈출수도 있음; global optimum을 찾아가야 하는데 local minimum에 안착../ 최적점을 잘 찾아가지 못하고 페널티를 얻을 수 도 있음; 
  2. 속도있게 진행하다가 가끔씩 주변을 보는(learning_rate가 큼) : 빠르게 최적점까지 갈 수 있음/ but step size가 커서(학습속도가 커서) 최적점을 지나칠 수 있음; 모델의 점수가 잘 나오지 않을 수 있음; 최적점으로 수렴하지 못하고 발산할 수 있음 ; 
 5-1. 기본값 0.1 거의 대부분 작을때 성능 향상 (0.01보다 작으면 성능 하락) 최적: 0.01 ~ 0.025
 5-2.  러닝레이트 튜닝하기 : 러닝레이트를 낮춘다 -> 각 나무가 학습하는 양을 줄인다. -> 나무의 개수를 더 많이 만들어줘야함/ 0.1->0.025 4배만큼 나무의 효율성이 낮아짐; 나무의 갯수를 4배 늘려줘야함;

In [13]:
from lightgbm import LGBMClassifier 
lgb = LGBMClassifier(colsample_bytree=0.8,subsample=0.7, num_leaves= 25,n_estimators=450, learning_rate=0.02)
#num_leaves는 31이 기본,

# 모델 성능 높이기 -> 하이퍼파라미터 조정
### colsample_bytree:기본값 1 (0~1사이의 값을가짐) 변수를 해당비율만큼 가져와서 학습하기 (랜덤하게 뽑기)
->트리모델은 학습에 도움이되는 feature에만 편향하는 경향이 있음; 일부 칼럼만 집중적으로 학습; 과적합 유발(특정 칼럼에 대한) train과 test의 분포가 무조건 똑같지 않기 때문에 train에서 학습을 잘했던 게 test에서는 아닐 수 있음; 일정 칼럼만 독점적으로 학습하는 게 좋지 않음
-> 칼럼을 샘플링해서 뽑아서 과적합 방지; 몇몇 나무에서는 중요하다고 생각되지 않은(중요한 칼럼이 빠진) feature들이 학습에 이용됨; 각 나무들의 다양성 확보 (앙상블 효과 ) 새로운 패턴의 데이터에 대해서도 처리할 수 있음; 모든 대회에서 중요한 하이퍼파라미터; 
-> (주의) : 다른 하이퍼파라미터와 같이 , 최종적인 모델의 점수 향상 ; 0.5~0.8 칼럼이 많으면 0.3~0.4(숫자는 크게 중요하지 않음) 

### subsample : undersampling(행을 sampling) 
-> 데이터의 일부만 들어가기 때문에 학습방식이 나무마다 다름; 다른 데이터가 들어가기 때문에; 앙상블효과; 


-> 랜포모델은 알아서 해줌

데이터 지우지말고
30000개를 median으로 넣어버리면 한 값으로만 편중된 데이터가 될 수 있음 ;

1. 데이터에 대한 도메인 지식이 있는가? (다른피처와의 관계에서 적용할 수 있는 것) 
2. 데이터를 잘 모르겠을 때 결측치를 내부적으로 처리할 수 있는 모델 쓰기 ; 결측치를 처리하지 않아도 그 결측치를 어떤 부분으로 보냈을 때 모델성능이 높아질 지 내부적으로 판단 -> 학습을 잘하는 방향으로 학습 : 일반적으로 성능이 잘 나옴 
 (lgbm, xgboost)
3. 결측치를 다른 feature를 이용해 채우기, 결측치를 채울 컬럼을 y값으로 보내고 결측이 아닌 애들을 x로 해서 예측

In [14]:
lgb.fit(x_train,y_train)

LGBMClassifier(boosting_type='gbdt', class_weight=None, colsample_bytree=0.8,
               importance_type='split', learning_rate=0.02, max_depth=-1,
               min_child_samples=20, min_child_weight=0.001, min_split_gain=0.0,
               n_estimators=450, n_jobs=-1, num_leaves=25, objective=None,
               random_state=None, reg_alpha=0.0, reg_lambda=0.0, silent=True,
               subsample=0.7, subsample_for_bin=200000, subsample_freq=0)

In [15]:
result2 = lgb.predict_proba(x_test)

In [16]:
y_train.value_counts()

0    139974
1     10026
Name: SeriousDlqin2yrs, dtype: int64

In [17]:
result2 = result2[:,1]

### lgbm 모델이 xgboost모델보다 성능이 높았기 때문에, 8:2의 비율로 앙상블 -> 결과값 산출

In [18]:
result = result1*0.2 + result2*0.8

In [19]:
entry["Probability"] = result

In [20]:
entry

            Id  Probability
0            1     0.068989
1            2     0.046501
2            3     0.013910
3            4     0.077862
4            5     0.106872
...        ...          ...
101498  101499     0.034637
101499  101500     0.380951
101500  101501     0.005512
101501  101502     0.065961
101502  101503     0.039774

[101503 rows x 2 columns]

In [21]:
entry.to_csv("entry.csv",index=False)